/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-8-16, 20:41:30
    Author     : LFeng
*/

.input_readonly{background: #999};
.content_hidden{display: none;}
.page_div{margin: 10px 2%;height: 35px;line-height: 35px;}
.page_div #page{float: left;}