<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CharactorFilter</filter-name>
        <filter-class>com.cn.filter.CharactorFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharactorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AppInterface</servlet-name>
        <servlet-class>com.cn.servlet.AppInterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PCInterface</servlet-name>
        <servlet-class>com.cn.servlet.PCInterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.cn.servlet.UploadImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppInterface</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PCInterface</servlet-name>
        <url-pattern>*.pc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.html
        </welcome-file>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
</web-app>
